<template name="header">
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Music News</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Favorites</a></li>
        <li role="presentation"><a class="" href="#">Chat</a></li>
        {{#if currentUser}}
          <li class="addsong" role="presentation"><a href="#">Add Song</a></li>
        {{/if}}
        <li role="presentation"><a>{{> loginButtons}}</a></li>
      </ul>
          
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</template>